.container_awesome {
  margin: auto;
  padding: 100px 0 0 0;
  text-align: center;
}
.title_awesome {
  margin-bottom: 25px;
}
.border_awesome {
  border-top: 1px solid #d98943;
  width: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.items_awesome {
  margin-top: 67px;
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.item_awesome {
  max-width: 350px;
  margin: 0 15px;
}
.item_awesome_img {
  display: block;
  border: 1px solid #d98943;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.item_awesome_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
}
.item_awesome_text {
  font-size: 14px;
  line-height: 19px;
}
