.container_awesome {
  margin: auto;
  padding: 100px 0 0 0;
  text-align: center;
}
.title_awesome {
  margin-bottom: 25px;
}
.border_awesome {
  border-top: 1px solid #d98943;
  width: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.items_awesome {
  padding-top: 67px;
  display: flex;
  flex-flow: row nowrap;
  margin-left: -15px;
  margin-right: -15px;
}
.item_awesome {
  max-width: 30.7%;
  margin: 0 15px;
}
.item_awesome_img {
  display: block;
  border: 1px solid #d98943;
  border-radius: 2.5rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.item_awesome_title {
  font-weight: bold;
  font-size: 1.429rem;
  line-height: 1.9285rem;
  margin-bottom: 16px;
}
.item_awesome_text {
  font-size: 14px;
  line-height: 19px;
}
