.header {
  background-color: black;
  margin: auto;
  max-width: 1140px;
}
.container_header {
  /* position: fixed;*/
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 15px;
}
.axit {
  font-family: 'Raleway', 'sans-serif';
  font-size: 2.15rem;
  line-height: 1.78rem;
  color: white;
  display: flex;
  text-transform: uppercase;
}
.it {
  display: inline-block;
  color: #ec7979;
}
.header_navigation {
  display: flex;
}
.header_navigation_items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 15px;
  line-height: 1.42rem;
  color: rgba(255, 255, 255, 0.7);
}
.header_navigation_item {
  margin: auto 24px auto 24px;
  border-bottom: 1px solid black;
  transition: ease 0.5s;
}
.header_navigation_item:hover {
  border-bottom: 1px solid #d98943;
}
.header_navigation_item :last-child {
  margin-right: 0px;
}
.header_navigation_ite:first-child {
  margin-left: 0px;
}
.header_button {
  color: white;
  background-color: black;
}
.header_button:hover {
  color: #d98943;
  transition: ease 0.5s;
}
