@media (max-width: 767px) {
  .header_navigation {
    width: 100%;
  }
  .header_navigation_items {
    width: 100%;
    justify-content: space-between;
  }
  .header_navigation_item {
    margin-left: 2px;
    margin-right: 2px;
  }
  .container_header {
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
  }
  html,
  body {
    font-size: 12px;
  }
}
