.container_pricing {
  margin: auto;
  padding: 169px 0 0 0;
  text-align: center;
}
.title_pricing {
  margin-bottom: 34px;
}
.border_pricing {
  border-top: 1px solid #e72424;
  max-width: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
}
.items_pricing {
  padding-top: 62px;
  max-width: 1175px;
  display: flex;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 71px;
  justify-content: space-between;
}
.item_pricing {
  width: 340px;
  margin: 0px 15px;
}
.rate_up {
  background-color: #333333;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: bold;
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 2px;
}
.rate_body {
  background-color: #333333;
  font-family: 'Raleway', 'sans-serif';
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 33px;
  padding-top: 26px;
  margin-bottom: 2px;
}
.rate_text {
  color: white;
}
.rate_bottom {
  font-family: 'Open Sans', 'sans-serif';
  padding-bottom: 14px;
  padding-top: 17px;
  background-color: #333333;
}
.rate_bottom_centre {
  background-color: #d98943;
}
.space_pricing {
  margin-top: 4px;
  padding-top: 10px;
  line-height: 40px;
}
